.btn { 
	
     background-color: #8066FF;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff; 
 } 