*{
    font-family: 'Poppins', sans-serif;
}

:host ::ng-deep button {
     margin-left: .5em;
     width: 10em;
     margin-top: .5em;
}

.font-medium{
     color: #939393;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     font-size: 16px;
}
.font-medium:hover{
     color:white;
}

.ico:hover{
   color: white;
}
.dashboard {
     margin-top: 20px;
}

fa-icon{
     color: #939393;
}


.overly:hover{
    cursor: pointer;
}

.Active{
  color: white;
}




 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    display: flex;
}
.sidebarContainer{
    
    width:18%;
    height: 100vh;
    color: rgb(205, 203, 199);
    background-color:rgba(0, 0, 0, 0.87);
}
.subContainer{

    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebarAfterContainer{
    transition: 0.3s;
    width:4%;
    height:100vh;
    color: rgb(205, 203, 199);
    background-color:rgba(0, 0, 0, 0.87);
}

.subContainerAfter{

    width: 96%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
