<div class="flex-auto bg-white" style="padding-left: 30px;padding-right: 30px;">
    <div>
        <h1 class="sweepBlock">Sweep Blocks</h1>
    </div>
    <div class="d-flex items border-bottom-1 surface-border border-gray-800">
        <p class="sweep">Sweep Blocks</p>
        <p class="sweeep">Sweep Block Details</p>
    </div>
    <!-- input field for filter Data -->
    
    <!-- table Data....... -->
    <div *ngIf="Loader === true" class="loaderImageDiv" style="display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10rem; */
    background-color: white;
    height: 100vh;
    ">
        <img class="loaderImage" src="https://stage.blendedsense.com/img/bs_logo.774cd192.gif" alt="noImage"
            style="width: 100px;margin-bottom: 10rem;">
    </div>
    <div *ngIf="Loader === false">
        <div class="card">
            <p-table #myTab [value]="data" [paginator]="true" [scrollable]="true" scrollHeight="325px"
                styleClass="p-datatable-striped" [rows]="10" [showCurrentPageReport]="true"
                [tableStyle]="{'min-width': '50rem'}" [tableStyle]="{'min-height': '20rem'}"
                currentPageReportTemplate="{first} to {last} of {totalRecords}" [rowsPerPageOptions]="[5,10,15]"
                [globalFilterFields]="['name']">

                <ng-template pTemplate="caption">
                    <div class="d-flex">
                        <div>
                            <span class="p-input-icon-left p-ml-auto">
                                <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
                                <input pInputText type="text"
                                    (input)="myTab.filterGlobal($event.target['value'], 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                        </div>
                        <div class="dialouge ml-auto">
                            <!-- <app-button class="button" text="+ Add Sweep Block" 
                        (btnClick)="showBasicDialog2()" ></app-button> -->
                            <button class="button" (click)="showBasicDialog2(null)">+ Add Sweep Block</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:33%;color: #B4B4B4;">Sweep Block
                            <p-columnFilter type="text" fied="name" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:33%;color: #B4B4B4;">Duration</th>
                        <th style="width:20%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element class="table-body">
                    <tr>
                        <td>{{element.name}}</td>
                        <td>{{element.durationInMinutes}}</td>
                        <td>
                            <p-overlayPanel #op my="right bottom" at="left bottom">
                                <ng-template pTemplate>
                                    <div class="border-bottom-1 surface-border"><button class="edit-btn"
                                            (click)="showBasicDialog2(element)">Edit Sweep</button></div><br>
                                    <div class="btn-div"><button class="Delete-btn" (click)="showModalDialog()">Delete
                                            Sweep</button></div>
                                </ng-template>
                            </p-overlayPanel>
                            <button type="text" class="toggle" (click)="deleteId(element?.id)"
                                (click)="op.toggle($event)">...</button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
           <!-- dialouge for edit Sweep -->
            <p-dialog header="Sweep Block Details" [(visible)]="displayBasic2" [style]="{width: '40vw'}"
            [draggable]="false">
            <hr>
            <div>
                <label for="">Type</label><br>
                <form>
                <div class="group dropshot">
                    <app-dropdown  [formGroup]="login" [optionsType]="sweepTypeoptions" [formControlName]="'typeName'"></app-dropdown>
                </div>
                
                <div class="group pad">
                    <label for="">Title</label><br>
                    <app-input [type]="'text'" [formGroup]="login"  [formControlName]="'title'" [error]="" ></app-input>
                </div>
                <div class="pad1">
                    <label for="">Duration</label><br>
                    <div class="group d-flex">
                        <app-input [type]="'number'" [formGroup]="login"  [formControlName]="'duration'" 
                            [error]=""></app-input>
                        <p> minutes</p>
                    </div>
                </div>
               </form>
                <div class="mt-5">
                    <p style="font-size: 20px;">Capture Settings</p>
                    <hr>
                    <div>
                        <p>Shot Settings</p>
                        <app-dropdown></app-dropdown>
                    </div>
                    <div>
                        <div class="row"><p class="col-7">Equipment</p><p class="col-5">Quantity</p></div>
                        <form action="" [formGroup]="testForm">
                            <div formArrayName="mobiles">

                                <div *ngFor="let m of testForm.controls['mobiles']['controls'];index as i"
                                    class="carstot d-flex justify-content-between" formControlName="{{i}}">
                                    <div class="drop1">
                                        <!-- <p>Equipment</p> -->
                                        <app-dropdown></app-dropdown>
                                    </div>
                                    <div class="drop2">
                                        <!-- <p>Quantity</p> -->
                                        <app-dropdown></app-dropdown>
                                    </div>
                                    <p (click)="remove(i)">X</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div><button class="equip" (click)="Add()">+ Add Equippment</button></div>
                <div class="d-flex justify-content-end">
                    <button class="cancell ps-3 pe-3" (click)="displayBasic2=false"
                        styleClass="p-button-text">Cancel</button>
                    <button class="save ps-3 pe-3"
                        styleClass="p-button-text">Save</button>
                </div>

            </div>
        </p-dialog>

            <!-- dialog box for Delete  -->
            <p-dialog class="head" header="Delete Sweep Block" [(visible)]="displayModal" [modal]="true"
                [style]="{width: '40vw'}" height="200" [draggable]="false" [resizable]="false">
                <hr>
                <p class="m-0">Are you sure you want to permanently delete this sweep block? Sweeps will remain
                    unchanged.
                </p><br>
                <p>Once completed, the action can not be undone.</p>
                <ng-template pTemplate="footer" let-element>
                    <button class="cancel-btn" (click)="displayModal=false" styleClass="p-button-text">Cancel</button>
                    <button class="delete-btn" (click)="deleteSweep()" (click)="displayModal=false"
                        styleClass="p-button-text">Delete</button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>