:host ::ng-deep button {
     margin-left: .5em;
     width: 10em;
     margin-top: .5em;
}

.font-medium{
     color: #939393;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     font-size: 16px;
}
.font-medium:hover{
     color:white;
}
.dashboard {
     margin-top: 20px;
}
.ico{
     color: #939393;

}
.ico:hover{
     color:white;
}
.quick-action {
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
}
